.container {
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*задаем ширину колонок*/
    /* grid-template-columns: repeat(3, 1fr); задаем ширину колонок */
    grid-auto-rows: 200px;
    gap: 10px;
}

.item {
    border: 2px solid black;
}




/* grid-template-columns - задать столбцы
grid-template-rows - задать строки
grid-auto-rows - задать высоту строк (повторяющуюся)
gap - отступы
1fr - единица измерения */